* {
	font-family: 'Roboto', Arial, sans-serif;
}

button {
  color: black;
  text-align: center;
	padding: 20px;
	font-size: 20px;
	margin: 7px;
	width: 20%;
}

.wrapper {
  display: grid;
  width: 100vw;
  height: 100vh;
}

.wrapper5 {
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 17% 17% 17% 17% 17%;
}

.wrapper4 {
  grid-template-columns: 25% 25% 25% 25%;
}

.wrapper3 {
  grid-template-columns: 33% 33% 33%;
}

.wrapper2 {
  grid-template-columns: 50% 50%;
}

.wrapper1 {
  grid-template-columns: 100%;
}

.buttonWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 { 
	font-size:2vw;
  color: white;
	border-right: .1em solid white;
	width: 21ch;
	margin: 2em 1em;
	white-space: nowrap;
	overflow: hidden;
	-webkit-animation: typing 5s steps(21, end),
	           blink-caret .5s step-end infinite alternate;
}

@-webkit-keyframes typing { from { width: 0; } }
@-webkit-keyframes blink-caret { 50% { border-color: transparent; } }



